.button {
  width: fit-content;
  min-height: 32px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  border: none;
  background: teal;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  user-select: none;

  &:hover {
    background: rgb(2, 112, 112);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .loading {
    animation: spin 500ms linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg); /* Start position */
    }
    to {
      transform: rotate(360deg); /* End position */
    }
  }
}

.error {
  background: rgb(200, 0, 0);

  &:hover {
    background: red;
  }
}
