.footer {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--foreground);
  border-top: 0.5px solid #9d9d9d;
  text-align: center;
  padding: 0 16px;
}
