@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1d1d1d;
  --primary-black: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --primary-black: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main_layout {
  width: 100%;
  max-width: 1920px;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background: var(--foreground);
  color: var(--background);
  margin: 0 auto;
}
